<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
  </head>
  <body>
    <a href="/books/form">Add book</a>
    <h1>Books</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Author</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i=0; i<books.length; i++) { %>
        <tr>
          <td><%= books[i].id %></td>
          <td><%= books[i].title %></td>
          <td><%= books[i].author %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>